<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MꙨZ GAMER </title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1>MꙨZ G<label style="color:firebrick">A</label>MER</h1>
                    <p>loja online: versão 2.0</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">


                @*<li>
                <div class="hidden-xs">
                    <h4>Ligue:</h4>
                    <p>+258 84 822 0 187</p>
                </div>

                <div class="visible-xs">

                    <p>848220187</p>
                </div>
            </li>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cadastrar<b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                            <li><a href="@Url.Action("Product","Admin")">Venda<i class="pull-right fas fa-user-circle fa-fw"></i>  </a></li>
                            <li><a href="#">Pedido<i class="pull-right fa fa-times"></i>  </a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Carinho <b class="caret"></b></a>
                        <ul class="dropdown-menu ">
                            @if (Session["Mycart"] != null)
                            {
                                foreach (var item in (List<Domain.ProductItem>)Session["Mycart"])
                                {
                                    <li><a href="@Url.Action("RemoveFromMyCart","Home", new { @id = item.Product.ProductId})"> @item.Product.Name (@item.QuantityOfProductItem)  <i class="pull-right fa fa-times"></i>  </a></li>



                                }
                            }

                            <li class="divider"></li>
                            <li><a href="#">IT</a></li>
                        </ul>
                    </li>
                </ul>


            </div>

            <div class="row">
                <div class="col-md-12 ">
                    <div class="nav-menus">
                        <ul class="nav nav-pills">
                            <li class="active"><a style="border-radius:initial" href="#">Home</a></li>
                            <li><a style="border-radius:initial" href="#">COMPUTADOR</a></li>
                            <li><a style="border-radius:initial" href="#">CONSOLA</a></li>
                            <li><a style="border-radius:initial" href="#">PERIFÉRICOS</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            @RenderBody()
            <hr />
            @*<footer>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - MꙨZ GAMER  | All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>*@
            <footer role="contentinfo" aria-label="Footer">
                <div class="_cont">
                    <div class="socials">
                        <strong>follow us:</strong>
                        <ul>
                            <li><a title="html-koder / test on Twitter" class="tw" target="_blank">Twitter</a></li>
                            <li><a title="html-koder / test on Facebook" class="fb" target="_blank">Facebook</a></li>
                            <li><a title="html-koder / test on Instagram" class="in" target="_blank">Instagram</a></li>
                            <li><a title="html-koder / test on Pinterest" class="pi" target="_blank">Pinterest</a></li>
                        </ul>
                    </div>
                    <div class="top">
                        <div class="right">
                            <form method="post" action="/contact" class="contact-form" accept-charset="UTF-8">
                                <input type="hidden" value="customer" name="form_type" /><input type="hidden" name="utf8" value="✓" />
                                <div>
                                    <input type="hidden" id="contact_tags" name="contact[tags]" value="newsletter" />
                                    <input type="text" id="contact_email" name="contact[email]" placeholder="Submit e-mail for special offers...">
                                    <button type="submit" title="Newsletter Signup">OK</button>
                                </div>
                            </form>
                        </div>
                        <div class="left">
                            <span class="phone">+420 123 456 789</span>
                            <a class="mail" href="mailto:email.from@settings.com">email.from@settings.com</a>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <nav role="navigation" aria-label="Service menu">
                                <ul>
                                    <li><a>  <p>&copy; @DateTime.Now.Year - MꙨZ GAMER  | All right reserved.</p></a></li>
                                    <li><a>About Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
