@model Domain.Product
<link rel="stylesheet" href="~/quickbeam/demo/css/demo.css">
<link rel="stylesheet" href="~/quickbeam/demo/quickbeam.css">

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>

<section aria-label="Main content" role="main" class="product-detail">
    <div itemscope itemtype="http://schema.org/Product">
        <meta itemprop="url" content="http://html-koder-test.myshopify.com/products/tommy-hilfiger-t-shirt-new-york">
        <meta itemprop="image" content="//cdn.shopify.com/s/files/1/1047/6452/products/product_grande.png?v=1446769025">
        <div class="shadow">
            <div class="_cont detail-top">
                <div class="cols">
                    <div class="pull-left left-col">

                        @Html.Partial("_ZoomProduct", Model);


                        @*<div class="big">

                                @Html.Partial("_ZoomProduct", Model);

                            </div>*@
                        @*@Html.Partial("_ZoomProduct", Model);*@
                    </div>
                    <div class="right-col">
                        <h1 itemprop="name">@Model.Name</h1>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="priceCurrency" content="USD">
                            <link itemprop="availability" href="http://schema.org/InStock">
                            <div class="price-shipping">
                                <div class="price" id="price-preview" quickbeam="price" quickbeam-price="800">
                                    @Model.Price MT
                                </div>
                                @*<a>Free shipping</a>*@
                            </div>
                            <div class="swatches">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item "><b> Marca:</b> @Model.Brand</li>
                                    <li class="list-group-item "><b> Data de criação:</b> @Model.CreatedDate</li>

                                    @if (Model.IsNew)
                                    {
                        <li class="list-group-item">Estado: Novo</li>
 }
                    else
                    {
        <li class="list-group-item">Estado: Usado</li>
}
                                </ul>
                            </div>

                            <div class="tabs">
                                <div class="tab-labels">
                                    <span data-id="1" class="active">@Html.LabelFor(model => model.Description)</span>
                                </div>
                                <div class="tab-slides">
                                    <div id="tab-slide-1" itemprop="description" class="slide active">
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <aside class="related">
        <div class="_cont">
            <h2>você pode gostar também</h2>
            <div class="collection-list cols-4" id="collection-list" data-products-per-page="4">
                @foreach (var item in ViewBag.Top4)
                {
    <a class="product-box" href="~/Product/Product/@item.ProductId">
        @*<a href="~/Product/Product/@item.ProductId"> </a>*@
            <span class="img">

                <span style="background-image: url('../../ProducIMG/@item.ProductImage')" class="i first"></span>

                <span class="i second" style="background-image: url('../../ProducIMG/@item.ProductImage')"></span>

            </span>
        
        <span class="text">
            <strong>@item.Name</strong>
            <span>

            </span>
            <div class="variants">
                <div class="variant">
                    <div class="var m available">
                        <div class="t">Por @item.Price</div>
                    </div>

                </div>

            </div>
        </span>
    </a>}


            </div>
            <div class="more-products" id="more-products-wrap">
                <span id="more-products" data-rows_per_page="1">Mais produtos</span>
            </div>
        </div>
    </aside>
    </div>

</section>

<div id="quick-cart" quickbeam="cart">
    <a id="quick-cart-pay" quickbeam="cart-pay" class="cart-ico">
        <span>
            <strong class="quick-cart-text">Pay<br></strong>
            <span id="quick-cart-price">0</span>
            <span id="quick-cart-pay-total-count">0</span>
        </span>
    </a>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
<script src="~/quickbeam/demo/quickbeam.js"></script>
<script>
    // Usage:
    var cart = Quickbeam.init({
        'animationLib': 'gsap'
    });</script>

<!-- Quickbeam cart end -->



@Html.ActionLink("voltar", "Index", "Home") 