@model List<Domain.Request>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
<link rel="stylesheet" href="~/Content/request-set/dist/style.css">
 
<div class="ProductSet ProductSet--list">
    <!-- Product Card: horizontal -->
    @foreach (var item in Model)
    {
        <a class="ProductCard ProductCard--list">
            <div class="ProductCard__img-wrapper">
                @if (string.IsNullOrEmpty(item.RequestImage) && item.Category.Name == "Desktop")
                {
                    <img src="~/Images/Requests/template/steam1.png" alt="Shoe" class="ProductCard__img">
                }
                else if (string.IsNullOrEmpty(item.RequestImage) && item.Category.Name == "Console")
                {
                    <img src="~/Images/Requests/template/Console.png" alt="Shoe" class="ProductCard__img">
                }
                else if (!string.IsNullOrEmpty(item.RequestImage))
                {
                    <img src="~/Images/Requests/@item.RequestImage" alt="Shoe" class="ProductCard__img">
                }

            </div>
            <div class="ProductCard__details Sem-linha">

                <div class="ProductCard__details__header">
                    <div class="ProductCard__titles">
                        <h4 class="ProductCard__title">@item.Name</h4>
                        <h5 class="ProductCard__price"><strong>Categoria: </strong>  @item.Category.Name</h5>
                        <h5 class="ProductCard__price"><strong>Preço entre: </strong>  @item.InitialPrice a @item.FinalPrice MT</h5>
                    </div> 
                </div>

                <p class="ProductCard__description">
                    <strong>Descrição: </strong> @item.Description
                </p>
            </div>
        </a>
    }



</div>
<!-- END: Product Set -->
<!-- partial -->
